PORT = 3000

JWT_SECRET = Eldiablazolok0
JWT_EXPIRES_IN = 12h
NODE_ENV = production
TRUST_PROXY = 1
PUI_usuario = ''
PUI_PASSWORD = ''
PUI_BASE_URL = ''

PLAIN_PASSWRD = '%2'
# AUTH_usuario = PUI
# AUTH_PASSWORD_HASH = "<GENERAR_HASH_BCRYPT_EN_AMBIENTE_SEGURO>"

#DB
MONGODB_URI =mongodb+srv://PatronUnicoCabalDB:Sombrerodevaker0@googleapi.vwo9tf4.mongodb.net/PatronUnicoCabalDB?retryWrites=true&w=majority&appName=PatronUnicoCabalDB

